@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #421111;
    --text-color: #ededed;
    --main-color: #f01000;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    background: var(--bg-color);
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('./images/my-image.jpg') no-repeat center center; /* Update with your image path */
    background-size: cover;
    height: 100vh;
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.heading {
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}

section {
    padding: 5rem 9%;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.socials a {
    margin-left: 1rem;
    color: var(--text-color);
    font-size: 2rem;
}
